/* App.css */
@font-face {
  font-family: "Roobert"; 
  src: local("Roobert-Regular"), url("./fonts/RoobertTRIAL-Regular.ttf") format("truetype"); 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

body {
    background-color: #FCFCFC;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* h1 {
    font-size: clamp(3rem, 8vw, 6rem);
    font-weight: 300;
    letter-spacing: -0.02em;
    text-align: center;
    color: #1a1b1c;
    line-height: 0.9;
    margin: 0;
} */

.location {
margin: 0 6px;
}

.nav__container {
    display: flex;
    flex-direction: row;
    height: 64px;
    width: 100%;
    justify-content: space-between;
    padding: 12px 0;
    margin-bottom: 12px;
    position: relative;
    z-index: 1000;
}

.row__left {
    display: flex;
    flex-direction: row;
    padding-top: 4px;
    transform: scale(0.75);
    justify-content: center;
    align-items: center;
    gap: 6px;
}


.nav__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    white-space: nowrap;
    border-radius: 6px;
    transition: colors 0.2s;
    height: 36px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
    line-height: 16px;
    color: #1A1B1C;
    text-transform: uppercase;
}

.location__container {
    border: 2px solid rgba(26, 27, 28, 0.3);
    border-radius: 3px;
    border-top-style: none;
    border-bottom-style: none;
}

.p__location {
    color: rgba(26, 27, 28, 0.7);
    font-weight: 600;
    font-size: 14px;
    margin-left: 6px;
    margin-right: 6px;
    /* margin: 0 6px;
    color: rgba(26, 27, 28, 0.6);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .5px; */
}
/* .row__left {
    display: flex;
    justify-content: space-around;
} */

.simple__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    white-space: nowrap;
    font-weight: 600;
    transition: colors 0.2s;
    height: 36px;
    padding: 8px 16px;
    margin: 0 16px;
    transform: scale(0.8);
    color: #FCFCFC;
    font-size: 10px;
    background-color: #1A1B1C;
    line-height: 16px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    /* margin: 0 16px;
    padding: 8px 16px;
    font-size: 10px;
    line-height: 16px;
    font-weight: 600;
    color: white;
    gap: 8px;
    background-color: #1a1b1c;
    letter-spacing: .5px; */
}
.simple__btn:hover {
    background-color: rgba(26, 27, 28, 0.9);
}


